html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --background-color: #FFFFFF;
    --primary-brand: #4D5AE5;
    --dark: #2E2F42;
    --text: #434455;
    --accent: #E7E9FC;
    --button-hover: #404BBF;
    --light: #F4F4FD;
    --border: #8E8F99;
    --green: #31D0AA;
    --modal: #FCFCFC;
}

body {
    color: var(--dark);
    background-color: var(--background-color);

    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02em;
}

/* index.html */

.link {
    text-decoration: none;
}

.list {
    padding: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul,
h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

.flex-header {
    display: flex;
}

.container {
    position: relative;

    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width: 480px) {
    .container{
        width: 480px;   
    } 
}
@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}
@media screen and (min-width: 1200px) {
    .container {
        width: 1158px;
    }
}

/* header */

.header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container .header-list {
    width: 100%;

    justify-content: space-between;
    align-items: center;
}

/* logo */

.header-logo {
    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--dark);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-logo:hover,
.header-logo:focus {
    color: var(--primary-brand);
}

.logo-decoration {
    color: var(--primary-brand);
}

/* site-nav mobile*/
.site-nav {
    display: none;
}

.auth-nav {
    display: none;
}

/* menu */
.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-left: 40px;
    padding-top: 80px;
    padding-right: 40px;
    padding-bottom: 40px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    background-color: var(--background-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.menu-container.is-open {
    transform: translateX(0);
}

.icon-menu {
    padding: 0;
    line-height: 0;
    border: none;
    background-color: transparent;
}

.menu-container .menu-toggle {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 24px;
    height: 24px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: var(--accent);
    border-radius: 50%;
    border: none;
}

/* menu-nav */

.menu-nav {
    margin-bottom: auto;
    width: 337px;
}

.menu-nav .link {
    display: block;

    width: 100%;

    color: var(--dark);
    
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
}

.menu-nav .item:not(:last-child) {
    margin-bottom: 40px;
}

.menu-nav .link:hover,
.menu-nav .link:focus {
    color: var(--button-hover);
}

.menu-nav .link.current {
    color: var(--primary-brand);
    padding-bottom: 0px;
}

/* contacts-nav */
.contacts-nav {
    margin-bottom: 48px;
}

.contacts-nav .link.mail {
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;

    color: var(--text);
}

.contacts-nav .link.tel{
    display: block;
    
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 1.1;
    
    color: var(--primary-brand);
}

/* menu-soc-nav */
.menu-soc-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.menu-soc-item {
    padding: 8px;
    width: 40px;
    height: 40px;
    color: var(--light);
    
    border-radius: 50%;
    background-color: var(--primary-brand);
    
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-soc-item:not(:last-child) {
    margin-right: 56px;
}

.menu-soc-link {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    fill: currentColor;
}

@media screen and (max-width:427px) {
    .contacts-nav .link.tel {
        font-size: 23px;
    }

    .menu-soc-item:not(:last-child) {
        margin-right: 25px;
    }
}

@media screen and (min-width: 768px) {
    .icon-menu {
        display: none;
    }
    
    .header-logo {
        margin-right: 120px;
    }
    
    /* site-nav */

    .container .header-list {
        justify-content: flex-start;
        align-items: center;  
    }

    .header-list {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        
    }
    
    .site-nav {
        display: flex;
        margin-right: 118px;
    }
    
    .site-nav .item:not(:last-child) {
        margin-right: 40px;
    }
    
    .site-nav .link {
        position: relative;
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;
    
    
        color: var(--dark);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
    
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .site-nav .link:hover,
    .site-nav .link:focus {
        color: var(--text);
    }
    
    .site-nav .link:active {
        color: var(--primary-brand);
    }
    
    .site-nav .link.current {
        color: var(--primary-brand);
        padding-bottom: 0px;
    }
    
    .current::after {
        content: '';
        display: block;
        background-color: var(--primary-brand);
        height: 4px;
        border-radius: 2px;
        margin-top: 24px;
        width: 100%;
    }

    /* auth-nav */
    
    .auth-nav {
        display: inline-block;
    }
    
    .auth-nav .link {
        color: var(--text);
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
    
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .auth-nav .link:hover,
    .auth-nav .link:focus {
        color: var(--primary-brand);
    }
}

@media screen and (min-width: 1200px) {
    /* logo */
    
    .header-logo {
        margin-right: 70px;
    }
    
    /* auth-nav */
    
    .auth-nav {
        display: flex;
        margin-left: auto;
    }
    
    .auth-nav .link {
        padding-top: 24px;
        padding-bottom: 24px;
    
        font-size: 16px;
        
    }
        
    .auth-nav .item+.item {
        margin-left: 40px;
    }
}

/* Main mobile */
.section {
    padding-top: 96px;
    padding-bottom: 96px;
}

/* hero */

.hero {
    padding-top: 112px;
    padding-bottom: 112px;

    color: var(--background-color);
    background-color: var(--dark);
    text-align: center;
}

.ovarley {
    max-width: 428px;
    height: 432px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000000;
    /* phone screen */
    background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url("../images/mobile/hero-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

    /* screen >= 768 */
@media screen and (min-width: 768px) and (max-width:1119px) {
    .ovarley {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url('../images/tablet/hero-tablet.jpg');
    }
}

    /* screen >= 1200 */
@media screen and (min-width: 1200px) {
    .ovarley {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url('../images/desktop/hero-desk.jpg');
    }
}

@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .ovarley {
       background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/mobile/hero-mobile@2x.jpg');
    }
 @media screen and (min-width: 768px){
    .ovarley {
       background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/tablet/hero-tablet@2x.jpg');
    }
 }
 @media screen and (min-width: 1200px){
    .ovarley {
       background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/desktop/hero-deskt@2x.jpg');
    }
 }
}

.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
}

.hero-button {
    margin-top: 72px;
    padding-left: 32px;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    border: none;

    color: var(--background-color);
    background-color: var(--primary-brand);
    cursor: pointer;
   
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--button-hover);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) and (max-width:1119px) {
    .hero {
        padding-bottom: 108px;
    }

    .ovarley {
        max-width: 768px;
        height: 436px;
    }

    .hero-title {
        font-size: 56px;
    }

    .hero-button {
        margin-top: 40px;
    }
}

@media screen and (min-width: 1200px) {
    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    
    /* hero */
    
    .hero {
        padding-top: 192px;
        padding-bottom: 192px;
    }

    .hero-title {
        font-size: 56px;
    }
    
    .ovarley {
        max-width: 1440px;
        height: 603px;
    }
    
    .hero-button {
        margin-top: 48px;
    }
}

/* section-2*/

.section-two-box {
    display: none;
}

.title-second {
    margin-bottom: 8px;
    width: 100%;
    text-align: center;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    
    color: var(--dark);
}

.text {
    color: var(--text);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

@media  screen and (max-width:767px) {
    .section-two-list:not(:last-child) {
    margin-bottom: 72px;
    }
}

@media screen and (min-width: 768px) and (max-width:1119px) {
    .flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .section-two-list {
        margin-bottom: 0;
        width: 356px;
    }

    .section-two-list:nth-child(-n + 2) {
        margin-bottom: 72px;
    }

    .title-second {
        text-align: left;

        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
    }
}

@media screen and (min-width: 1200px) {
    .flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .section-two-list {
        width: 264px;
    }
    
    .section-two-box {
        margin-bottom: 8px;
        width: 264px;
        height: 112px;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        background-color: var(--light);
    }
    
    .title-second {
        text-align: left;
        font-size: 20px;
        line-height: 1.2;
    }

    .text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
    }
}

/* section-3 mobile*/
.works {
    display: none;
}

@media screen and (min-width:1200px) {
    .works {
        display: block;
        padding-top: 0px;
    }
    
    .section-title {
        margin-bottom: 72px;
        font-size: 36px;
        line-height: 1.1;
        text-align: center;
        text-transform: capitalize;
    }
}

/* section-4 mobile*/

.team {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--accent);
}

.section-title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
}

.team-member {
    margin-top: 72px;
    background-color: var(--background-color);
    text-align: center;

    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.images {
    display: block;
}

.name {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 15px;
    padding-right: 15px;
}


.team-name {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.text-team {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;

    color: var(--text);
}

.team-soc-list {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
}

.team-soc-item {
    margin-top: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 40px;
    height: 40px;

    color: var(--light);

    border-radius: 50%;
    background-color: var(--primary-brand);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-item:hover,
.team-soc-item:focus {
    background-color: var(--button-hover);
}

.team-soc-list.team-soc-item:not(:last-child) {
    margin-right: 24px;
}

.team-soc-link {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    fill: currentColor;
}

.team-soc-icon {
    fill: currentColor;
}

@media screen and (min-width: 768px) and (max-width:1119px) {
    .team-list {
        justify-content: center;
    }

    .team-member:nth-child(2n){
        margin-left: 24px;
    }

    .team .section-title {
        margin-bottom: 0;
    }
}

@media  screen and (min-width:1200px) {
    .team-list {
        flex-wrap: nowrap;
    }

    .team-member:not(:last-child) {
        margin-right: 24px;
    }
    .team .section-title {
        margin-bottom: 0;
    }
}

/* section-5 */
.customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.customers-item {
    margin-top: 72px;
    width: 190px;
    height: 88px;

    color: var(--border);

    border: 1px solid var(--border);
    border-radius: 4px;

}

.customers-link {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    fill: var(--border);

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
    border: 1px solid var(--primary-brand);
    border-radius: 4px;

    fill: var(--primary-brand);
}

@media screen and (min-width:320px) and (max-width:427px) {
    .customers-list {
        justify-content: space-around;
    }
}

@media screen and (min-width:768px) and (max-width:1119px) {
    .section-title {
        margin-bottom: 72px;
    }

    .customers-list {
        justify-content: center;
        column-gap: 24px;
    }

    .customers-item {
        margin-top: 0;
    }

    .customers-item:nth-child(-n + 3) {
        margin-bottom: 72px;
    }
}


@media screen and (min-width:1200px) {
    .customers-list {
        flex-wrap: nowrap;
        gap: 24px;
    }

    .customers-item {
        margin-top: 0;
    }
}

/* footer */
.footer {
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 100px;

    background-color: var(--dark);
}

.footer-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.footer-one {
    margin-bottom: 72px;
    justify-content: center;
}

.footer-logo {
    color: var(--light);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.03em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-logo:hover,
.footer-logo:focus {
    color: var(--primary-brand);
}

.footer-text {
    margin-top: 16px;
    width: 264px;
    text-align: start;

    color: var(--accent);
    font-size: 16px;
    line-height: 1.5;
}

.footer-social {
    margin-bottom: 72px;
}

.footer-social-title {
    margin-bottom: 16px;

    color: var(--background-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-soc-item {
    display: inline-block;
    width: 40px;
    height: 40px;

    color: var(--light);

    background-color: var(--text);
    border-radius: 50%;
}

.footer-soc-item:not(:last-child) {
    margin-right: 16px;
}

.footer-soc-link {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    fill: currentColor;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: var(--green);
    border-radius: 50%;
}

.footer-form {
    color: rgba(255, 255, 255, 0.6);
}

.footer-input {
    display: flex;
    flex-direction: column;
}

.footer-input-email {
    margin-bottom: 16px;
    padding: 16px 8px;
    width: 396px;
    height: 40px;

    color: rgba(255, 255, 255, 0.6);
    background-color: var(--dark);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

@media  screen and (max-width:427px) {
    .footer-input-email{
        width: 290px;
    }
}

.footer-input input::placeholder {
    color: rgba(255, 255, 255, 0.6);

    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}

.footer-button {
    padding: 8px 24px;
    width: 165px;
    height: 40px;

    justify-content: space-between;
    align-items: center;

    color: var(--background-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    background-color: var(--primary-brand);
    border-color: var(--primary-brand);
    border-radius: 4px;
    border-style: none;

    cursor: pointer;
}

.footer-icon-sent {
    fill: currentColor;
}

@media screen and (min-width:768px) and (max-width:1119px) {
    .footer .container {
        width: 565px;
    }
    
    .footer-box {
        text-align: start;
        justify-content: flex-start;
    }

    .footer-one {
        margin-right: 24px;
    }

    .footer-social {
        margin-bottom: 0;
    }

    .footer-form-box {
        display: block;
    }

    .footer-input-email {
        margin-bottom: 0;
        margin-right: 24px;
        width: 261px;
    }
}

@media screen and (min-width:1200px){
    .footer-box {
        text-align: start;
    }

    .footer-one {
        margin-bottom: 0;
        margin-right: 120px;
    }

    .footer-text {
        margin-bottom: 0;
    }

    .footer-social {
        margin-bottom: 0;
        margin-right: 80px;
    }

    .footer-soc-item {
        margin-bottom: 0;
    }

    .footer-input-email {
        margin-bottom: 0;
        margin-right: 24px;
        width: 264px; 
    }

    .footer-button {
        display: flex;

        justify-content: space-between;
        align-items: center;
    }
}

/* backdrop and modal */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    overflow-y: scroll;

    background-color: rgba(46, 47, 66, 0.4);

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding-top: 72px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    
    transform: translate(-50%, -50%);

    width: 392px;
    height: 576px;

    background-color: var(--modal);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

@media screen and (max-width: 428px) {
    .modal {
        width: 300px;
    }
}

@media screen and (min-width:768px) {
    .modal {
        width: 408px;
    }
}

.modal-button {
    position: absolute;
    top: 24px;
    right: 24px;

    display: flex;
    padding: 8px;

    border-radius: 50%;
    background-color: var(--accent);
    border: 1px solid rgba(0, 0, 0, 0.1);

    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
    background: var(--button-hover);
    border-radius: 24px;

    fill: var(--background-color);
}

/* modal-form */
textarea {
    resize: none;
}

.form-title {
    margin-bottom: 14px;
    width: 100%;

    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
}

.form-field {
    position: relative;
    display: flex;
    flex-direction: column;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label {
    margin-bottom: 4px;

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    
    letter-spacing: 0.04em;

    color: var(--border);
}

.form-input {
    margin-bottom: 8px;
    padding-left: 38px;
    width: 100%;
    height: 40px;

    color: var(--border);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
    outline:transparent;

    border: 1px solid var(#4D5AE5);
    border-radius: 4px; 
} 

.form-icon {
    position: absolute;
    top: 32px; 
    left: 19px;

    fill: var(--dark);
}

.form-field:focus-within>.form-icon {
    fill: var(--primary-brand);
}

.form-field:focus-within>.form-input {
    border: 1px solid var(--primary-brand);
    border-radius: 4px;
}

.form-input-area {
    margin-bottom: 14px;
    padding-top: 8px;
    padding-left: 16px;
    width: 100%;
    height: 112px;

    color: var(--border);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);

    outline:transparent;
}

.form-input-area:focus {
    border: 1px solid var(--primary-brand);
    border-radius: 4px;
}

.form-input-area::placeholder {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3;
    
    letter-spacing: 0.04em;
    
    color: rgba(117, 117, 117, 0.5);
}

.form-field-checkbox {
    display: flex;
    margin-bottom: 24px;

    align-items: center;
}

.form-checkbox-input {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.form-checkbox-input:checked + .form-checkbox-icon {
    background-color: var(--button-hover);
    border-color: var(--button-hover);
    fill: var(--light);
}

.form-checkbox-icon {
    display: flex;
    width: 16px;
    height: 16px;

    fill: none;
    border: 1.25px solid #2E2F42;
    border-radius: 2px;
}

.checkmark-icon {
   width: 100%;
   padding-bottom: 2px;
}

.checkbox {
    margin-bottom: 0;
    margin-left: 8px;
}

.form-button-send {
    margin-left: 95px;
    padding: 16px 32px;
    min-width: 169px;
    min-height: 56px;

    text-align: center;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;


    color: var(--background-color);
    background: var(--primary-brand);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-style: none;

    cursor: pointer;
}

@media screen and (max-width: 428px) {
    .form-button-send {
        margin-left: 45px;
    }
}

@media screen and (orientation: landscape) {
    .modal {
        transform: translateX(-50%);
    }
}




    











